*{
	margin:0;
	padding:0;
}


.div1{height:77.7%; 
width:100.7%;
}

.f1{float:right;
}

.swiggy{float:left;
height:20px;
width:190px;
margin-top:45px;
margin-left:20px;
}

.swiggy-span1{padding-top:5px;
font-weight:bold;
float:left;
margin-top:10px;
color:#fc8019;
font-family:monospace;
font-size:36px;
font-weight:bold;
}

#swiggy-span2{font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:16px;
font-weight:bold;
float:left;
padding-right:20px;
padding-top:6px;
}

.swiggy-span3{text-align:center;
border:none;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-weight:bold;
height:30px;
width:110px;
background-color:black;
color:white;
float:left;
padding-top:10px;
}

.div_s{height:40px; 
width:205px; 
float:left;
margin-left:245px;
margin-top:56px;
}

.hungry{float:left;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
margin-top:74px;
margin-left:21px;
color:#282c3f;
font-size:38px;
font-weight:bolder;
height:40px;
width:150px;
}

.order{float:left;
margin-top:15px;
margin-right:35px;
margin-left:20px;
color:#686b78;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:24px;
}

.location{float:left;
margin-left:20px;
height:60px;
width:632px;	
border:1px solid #fc8019;	
margin-top:40px;
}

.location_div{float:right; 
background-color:#fc8019;
color:#fff;
height:66%;
width:140px;
font-size:15px;
font-weight:bold;
text-align:center;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-top:20px;
}

.location_span1{float:left;
font-size:17px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
color:#b8bac0;
padding-left:22px;
padding-top:20px;
}

.span{font-size:20px;
}

.location_span2{color:#535665;
font-size:15px;
padding-left:125px;
float:left;
padding-top:20px;
}

.popular{height:70px;
width:600px;
float:left;
margin-left:20px;
margin-top:31px;
}

.popular_span1{color:#a9abb2;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:14px;
float:left;
}

.popular_span2{color:#686b78;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:14.5px;
font-weight:bold;
float:left;
padding-top:12px;	
}

.popular_span3{color:#686b78;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:14.5px;
font-weight:bold;
float:left;
padding-top:7px;	
}

.div2{height:403px;
width:100.7%;
background-color:#2b1e16;
float:left;
}

.div2_1{float:left;
height:403px;
width:255px;
}
	
.div2_1_1{float:left;
padding-left:100px;
padding-top:12px;
}

.div2_1_2{font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:19px;
font-weight:bold;
color:white;
margin-top:40px;
float:left;
padding-left:64px;
}

.div2_1_3{float:left;
padding-left:40px;
padding-top:8px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:14px;
color:#e0cbc1;
width:250px;
}

.div2_2{float:left;
padding-left:218px;
padding-top:9px;
height:403px;
width:250px;
}

.div2_2_1{float:left;
padding-left:100px;
padding-top:10px;
}

.div2_2_2{font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:19px;
font-weight:bold;
color:white;
margin-top:24px;
float:left;
padding-left:64px;
}

.div2_2_3{width:250px;
float:left;
padding-left:35px;
padding-top:6px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:14px;
color:#e0cbc1;
}

.div2_3{float:left;
padding-left:218px;
padding-top:9px;
height:403px;
width:250px;
}

.div2_3_1{float:left;
padding-left:100px;
padding-top:10px;
}

.div2_3_2{font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:19px;
font-weight:bold;
color:white;
margin-top:42px;
float:left;
padding-left:64px;
width:250px;
}

.div2_3_3{width:250px;
float:left;
padding-left:45px;
padding-top:6px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:14px;
color:#e0cbc1;
}


.div3{float:left;
height:568px;
width:100%;
}

.div3_1{float:left;
margin-left:22px;
color:#282c3f;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:35px;
letter-spacing:0.45px;
margin-top:150px;
height:100px;
width:300px;
font-weight:bold;
}

.div3_2{float:left;
height:50px;
width:380px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:19px;	
color:#7e808c;	
margin-top:5px;
margin-left:25px;
}

.div3_3{float:left;
margin-top:55px;
background-color:white;
height:55px;
width:365px;
margin-left:20px;
}

.div3_3_1{float:left;
background-color:black; 
width:170px; 
color:white	;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:13px;
border-radius:6px;
}

.span3_3_1{font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-weight:300	;
}
	
.div3_3_2{float:right;
background-color:black;
width:180px;	
color:white;
border-radius:6px;
margin-left:15px;
}

.span3_3_2{font-size:20px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-weight:300	;
}

.div4{float:left;
height:455px;
width:100%;
background-color:black;
margin-top:1px;
border-bottom:1px solid #4d4d4d;
}

.div4_1{float:right; 
margin-top:68px;
margin-right:25px;
}

.table{border-collapse:collapse;
}

.th1{color:#808080; 
font-size:15px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-top:80px;
font-weight:600;
padding-left:25px;
text-align:left;
}

.tr1{font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-top:14px;
color:white;
font-weight:300;
padding-left:25px;
text-align:left;
}

.tr1_1{font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-top:35px;
color:white;
font-weight:300;
padding-left:25px;
text-align:left;
}

.th2{color:#808080; 
font-size:15px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-top:80px;
font-weight:600;
padding-left:170px;
text-align:left;
}
	
.tr2{font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-top:13px;
color:white;
font-weight:300;
text-align:left;
padding-left:170px;
}

.tr2_2{font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-top:35px;
color:white;
font-weight:300;
text-align:left;
padding-left:170px;
}

.th3{color:#808080; 
font-size:15px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-top:80px;
font-weight:600;
padding-left:162px;
text-align:left;
}

.tr3{font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-top:14px;
color:white;
font-weight:300;
text-align:left;
padding-left:162px;
}	

.tr3_3{font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-top:35px;
color:white;
font-weight:300;
text-align:left;
padding-left:162px;
}

.tr3_1{font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
color:white;
font-weight:300;
text-align:left;
padding-left:162px;
}
	
.div5{float:left;
height:371px;
width:100%;
background-color:black;
}

.div5_1{float:left;
height:235px;
width:100%;
padding-bottom:30px;
}

.th5_1{color:#808080; 
font-size:15px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
padding-left:20px;
padding-top:25px;
font-weight:bold;
}

.td5_1{color:white;
font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
text-align:left;
padding-left:20px;
padding-top:16px;
}

.td5_2{color:white;
font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
text-align:left;
padding-left:220px;
padding-top:16px;
}

.td5_3{color:white;
font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
text-align:left;
padding-left:250px;
padding-top:16px;
}

.td5_4{color:white;
font-size:16px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
text-align:left;
padding-left:260px;
padding-top:16px;
}

.div6{height:105px;
width:100%;
float:left;
border-top:1px solid #4d4d4d;
}

.div6_1{float:left;
height:41px;
width:145px;
margin-left:30px;
color:white;
margin-top:30px;
}

.span6_1{font-size:22px;
font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
letter-spacing:1.2px;
font-weight:bold;
float:left;
color:white;
margin-top:5px
}

.div6_2{float:left;
height:50%;
width:200px;
margin-left:300px;
margin-top:30px;
letter-spacing:-.6px;
color:white;
}

.span6_2{font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
font-size:19px;
letter-spacing:-.4px;
padding-top:10px;
float:right;
margin-right:30px;
}

.div6_3{
		float:right;
		height:30px;
		width:220px;  
		margin-top:38px;
		font-size:28px;
}

.span6_3{padding-left:25px;
}
